/*global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

/* fonts */
@font-face {
    font-family: varela;
    src: url('assets/fonts/varela-round.regular.ttf.otf');
}

/* variables */
$color: rgb(13, 0, 255);

:root {
    // --global: rgb(13, 0, 255);
    --global: #0952b3;
    --actual-day: #0961d3;
    --global-hover: #024194;
    --cancel: rgb(194, 8, 8); 
    --cancel-hover: rgb(153, 9, 9);
}

/* global styles*/
.cont-table {
    border-radius: 10px;
    scrollbar-color: #a7a5a5 transparent;
    scrollbar-width: thin;
}

.cont-table::-webkit-scrollbar {
    -webkit-appearance: none;

    &:vertical {
        width: 2px;
    }

    &:horizontal {
        height: 8px;
    }
}

.cont-table::-webkit-scrollbar-button:vertical,
.cont-table::-webkit-scrollbar-button {
    display: none;
}

.cont-table::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 30px;
    border: solid 2px #f1f2f3;
}

.cont-table::-webkit-scrollbar-track {
    border-radius: 10px;
}

// .cont-table::-webkit-scrollbar-thin {
//     background-color: #797979;
//     border-radius: 30px;
//     border: solid 2px #f1f2f3;
// }


.table {
    font-size: 77%;
}
.table-responsive{
    height: 550px;
    overflow: scroll;
}
thead{
    position: sticky;
    top: 0;
    z-index: 10;
    background: #f5f5f5;
}

.in {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
    height: 40px;
    color: gray;
    margin-left: 10px;
}

.bi {
    cursor: pointer;
}

.btn {
    cursor: pointer;
    outline: none;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    color: var(--global);
    font-weight: bolder;
    font-size: 14px;
}