<div class="position-fixed w-100 h-100 back align-items-center justify-content-center"
    style="background:rgb(215, 229, 245);">
    <div class="fondo position-absolute h-100" style="background:rgb(194, 219, 247);"></div>
    <div class="position-absolute d-flex flex-row row contenedor" id="content">
        <!-- form -->
        <div class="form-content">
            <app-login></app-login>
        </div>
        <!-- form -->
        <div class="foot text-muted text-center">
            <img src="assets/img/logoBFI.png" alt="" class="bfi">
            | © 2022 · <span class="autor">GGTB</span> · Todos los derechos reservados
            <p class="version">v1.13.0</p>
        </div>
        <div class="position-relative pt-3 busquedas" id="busquedas" style="width: 78%;">
            <app-busqueda></app-busqueda>
        </div>
        <div class="position-absolute busquedas-recientes" id="busq-rec" (click)="click()">
            <div class="side-bar">
                <div class="position-absolute d-flex flex-column cont justify-content-center">
                    <svg class="blob1" viewBox="0 0 800 500" preserveAspectRatio="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
                        id="blobSvg">
                        <path class="blob"
                            d="M458.5,335Q420,420,335,414.5Q250,409,179,400.5Q108,392,71.5,321Q35,250,88,195.5Q141,141,195.5,97Q250,53,315,86.5Q380,120,438.5,185Q497,250,458.5,335Z"
                            fill="none" stroke-width="1px" stroke="white"></path>
                    </svg>
                </div>

                <div class="espacio p-4"></div>
                <app-calendar></app-calendar>
                <app-busquedas-recientes></app-busquedas-recientes>
            </div>
        </div>
    </div>
</div>