.contenedor {
    top: 5%;
    left: 10%;
    right: 10%;
    bottom: 5%;
    overflow: hidden;
    border-radius: 1.5em;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    background: rgb(245, 245, 245);
    transition: 1200ms cubic-bezier(.8, -0.6, 0.2, 1.5);

    .form-content{
        visibility: visible;
        transform: scale(1);
        transition: 1200ms cubic-bezier(.8, -0.6, 0.2, 1.5);
    }

    &.login {
        left: 4%;
        right: 4%;
        border-radius: 0.5em;
        transition: 1200ms cubic-bezier(.8, -0.6, 0.2, 1.5);

        .form-content{
            position: absolute;
            visibility: hidden;
            transform: scale(0);
            transition: 1200ms cubic-bezier(.8, -0.6, 0.2, 1.5);
        }

        .foot{
            left: auto;
            right: 20px;
            z-index: 999;
            transition: 1200ms cubic-bezier(.8, -0.6, 0.2, 1.5);
        }

        .busquedas {
            opacity: 1;
            transform: scale(1);
            transition: 1200ms cubic-bezier(.8, -0.6, 0.2, 1.5);
        }

        .busquedas-recientes {
            top: 0;
            bottom: 0;
            right: 0;
            width: 22%;
            transform: rotate(0);
            border-radius: 0;
            transition: 500ms cubic-bezier(.8, -0.6, 0.2, 1.5);

            .side-bar {
                opacity: 1;
                transition: 1200ms cubic-bezier(.8, -0.6, 0.2, 1.5);
            }
        }
    }
}

.busquedas {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: 500ms cubic-bezier(.8, -0.6, 0.2, 1.5);
}

.busquedas-recientes {
    width: 58%;
    height: 150%;
    transform: rotate(40deg);
    border-radius: 5em;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    right: -15%;
    top: -20%;
    bottom: 0;
    // z-index: 999;
    // background: linear-gradient(5deg,#363636, #111111);
    transition: 500ms cubic-bezier(.8, -0.6, 0.2, 1.5);
    background: linear-gradient(105deg, #464646, #1d1d1d, #111111);
    box-shadow: 50px 0 40px 0 #1d1d1d;

    .side-bar {
        opacity: 0;
        transition: 1200ms cubic-bezier(.8, -0.6, 0.2, 1.5);
    }
}

.fondo {
    right: 0;
    width: calc(100% - 72.75%);
}

.foot {
    position: absolute;
    bottom: 5px;
    width: fit-content;
    left: 10%;
    font-size: 68%;
    color: #ffffff;
    transition: 1200ms cubic-bezier(.8, -0.6, 0.2, 1.5);
}

.bfi {
    width: 35px;
    // width: 2.5%;
}

.autor {
    color: #004797;
    font-weight: bolder;
}

.blob1 {
    position: absolute;
    width: 36em;
    top: -18em;
    left: 6em;
    opacity: .5;
}

.blob2 {
    position: absolute;
    //width:5%;
    //bottom: -62em;
    // right: -33em;
    opacity: .1;
}